// COLOR VARIABLES
$color-primary: #265077;
$color-primary-dark: #18324a;

$color-secondary: #b3590a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #3b3b3b;
$color-grey-dark-2: #636363;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1200px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* automatically inherit box-sizing from the body element */
  box-sizing: inherit;
}

/* setting the root font-size  */
html {
  box-sizing: border-box;
  /* change to 1px so that we know that 1rem will equal 10px */
  /* change the 10px to a percentage which will translate to the percentage given by the browser */
  /* 10/16*100 */
  /* this method is used when a user decides to adjust the font size on the browser  */
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    // reduces the font-size of the entire layout
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;

  grid-template-rows: 80vh auto 40vw repeat(4, auto);
  // the minmax(6rem, 1fr) ensure that theres always a margin between the content adn the page
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(auto, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: calc(100vh - 6rem);
  }
}
